<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8bde8b2-213c-49f3-aa8d-ba7f2eaa0010" Alias="Product Update 2023 Q2" Level="3">
  <Info>
    <Parent Key="3975a513-444c-4aaa-bf36-30b6d46cc379">Newsletters</Parent>
    <Path>/Home/Newsletters/ProductUpdate2023Q2</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletter</ContentType>
    <CreateDate>2023-11-12T17:23:18</CreateDate>
    <NodeName Default="Product Update 2023 Q2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0a834721-9228-4059-a24b-0233b7f57f16">Newsletter</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "markup": "\u003Ch2\u003EHello World\u003C/h2\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </bodyText>
  </Properties>
</Content>