@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Newsletter>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<h1>Web</h1>
<hr/>
<h1>Newsletter: @Model.Name</h1>
@Model.Value("bodyText")