<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="140eefdd-d336-4116-9f62-7a19e7dd4c41" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="eb4c2860-f326-4a53-841b-8e92a50955ce">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="52fdac5f-6ebc-4804-994d-7a2a4c7f03cd" SortOrder="0">article</ContentType>
    <ContentType Key="31bc5cfe-fb59-48b5-98e1-da130fcca897" SortOrder="1">newsletters</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>acf270d6-6bde-4f6d-926a-1c2600ea014d</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7ef31d05-8895-46be-ad3c-9d7f88026ffa</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>