<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="52fdac5f-6ebc-4804-994d-7a2a4c7f03cd" Alias="article" Level="1">
  <Info>
    <Name>Article</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b82b3fb9-abec-465f-885c-fcc290bd1821">Article</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="52fdac5f-6ebc-4804-994d-7a2a4c7f03cd" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b9cb66e2-e567-43b0-9b1c-07969fecb405</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a85405ed-3083-4c3f-8c76-1eb65693586a</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>