<?xml version="1.0" encoding="utf-8"?>
<Content Key="0375d8a9-46c2-46e7-b01c-06154faf4b42" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-11-12T16:34:37</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="eb4c2860-f326-4a53-841b-8e92a50955ce">Home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Welcome to the home page</p>]]></Value>
    </bodyText>
  </Properties>
</Content>