<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5eae788-0729-4814-9719-2959e74c0abf" Alias="Product Update 2023 Q3" Level="3">
  <Info>
    <Parent Key="3975a513-444c-4aaa-bf36-30b6d46cc379">Newsletters</Parent>
    <Path>/Home/Newsletters/ProductUpdate2023Q3</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletter</ContentType>
    <CreateDate>2023-11-12T17:23:36</CreateDate>
    <NodeName Default="Product Update 2023 Q3" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0a834721-9228-4059-a24b-0233b7f57f16">Newsletter</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<h2>Product Update Q3</h2>
<p>Lorem Ipsum</p>]]></Value>
    </bodyText>
  </Properties>
</Content>