<?xml version="1.0" encoding="utf-8"?>
<Macro Key="19a1ca53-584e-4ca1-ac57-1e942e5ec3bd" Alias="newsletterStudioSignup" Level="0">
  <Name>Newsletter Studio Signup</Name>
  <MacroSource>~/Views/MacroPartials/NewsletterStudioSignup.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Mailing List</Name>
      <Alias>mailingList</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>NewsletterStudio.MailingListPicker</EditorAlias>
    </Property>
  </Properties>
</Macro>