<?xml version="1.0" encoding="utf-8"?>
<Content Key="3975a513-444c-4aaa-bf36-30b6d46cc379" Alias="Newsletters" Level="2">
  <Info>
    <Parent Key="0375d8a9-46c2-46e7-b01c-06154faf4b42">Home</Parent>
    <Path>/Home/Newsletters</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletters</ContentType>
    <CreateDate>2023-11-12T17:22:50</CreateDate>
    <NodeName Default="Newsletters" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ca23060-98cc-498d-9670-e8916e41c40d">Newsletters</Template>
  </Info>
  <Properties />
</Content>