<?xml version="1.0" encoding="utf-8"?>
<Content Key="41e9d2a3-0b6b-488a-9896-9c59ab37daa2" Alias="Products" Level="2">
  <Info>
    <Parent Key="0375d8a9-46c2-46e7-b01c-06154faf4b42">Home</Parent>
    <Path>/Home/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-11-12T16:34:51</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b82b3fb9-abec-465f-885c-fcc290bd1821">Article</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Information about our products</p>]]></Value>
    </bodyText>
  </Properties>
</Content>