<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="31bc5cfe-fb59-48b5-98e1-da130fcca897" Alias="newsletters" Level="1">
  <Info>
    <Name>Newsletters</Name>
    <Icon>icon-outbox color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Newsletters</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9ca23060-98cc-498d-9670-e8916e41c40d">Newsletters</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="88e26991-3ce2-4fb9-8bf8-447e5875622a" SortOrder="0">newsletter</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>